
.text {
    display: block;

    overflow: hidden;
    text-overflow: ellipsis;
	
}
.rut_color {
	color:#969494;

}
.CSSTableGenerator {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #a8bfdb;

    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;

    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;

    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;

    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
        border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
        width:100%;
        height:100%;
        margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
        
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#f7f8f9; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
    vertical-align:middle;
    border:1px solid #a8bfdb;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:3px;
    font-size:11px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}.CSSTableGenerator tr:last-child td{
        border-width:0px 1px 1px 0px;
}.CSSTableGenerator tr td:last-child{
        border-width:0px 1px 1px 0px;
        color: #547FB2;
}.CSSTableGenerator tr:last-child td:last-child{
        border-width:0px 1px 1px 0px;
}
.CSSTableGenerator tr:first-child th{
    background:-o-linear-gradient(bottom, #b9cee8 5%, #d0def0 100%);        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b9cee8), color-stop(1, #d0def0) );
    background:-moz-linear-gradient( center top, #b9cee8 5%, #d0def0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b9cee8", endColorstr="#d0def0");      background: -o-linear-gradient(top,#b9cee8,d0def0);

    background-color:#b9cee8;
    border:0px solid #a8bfdb;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:12px;
    font-family:Arial;
    font-weight:bold;
    color:#295d9b;
}
/*.CSSTableGenerator tr:first-child:hover td{
        background:-o-linear-gradient(bottom, #b9cee8 5%, #d0def0 100%);        
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b9cee8), color-stop(1, #d0def0) );
        background:-moz-linear-gradient( center top, #b9cee8 5%, #d0def0 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b9cee8", endColorstr="#d0def0");      
        background: -o-linear-gradient(top,#b9cee8,d0def0);

        background-color:#b9cee8;
}*/
.CSSTableGenerator tr:first-child td:first-child{
        border-width:0px 1px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
        border-width:0px 0px 1px 1px;
}